workflows/main_pipeline.json
{
  "name": "AI LineUp Architect - Scoring Batch",
  "nodes": [
    {
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 280],
      "parameters": {}
    },
    {
      "id": "fetch_pending_silver",
      "name": "Fetch pending silver requests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 280],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.id, s.comico_id, s.fecha_evento, s.status\nFROM silver.solicitudes s\nWHERE s.status IN ('normalizado', 'pendiente_scoring')\nORDER BY s.created_at ASC, s.id ASC;"
      }
    },
    {
      "id": "split_batches",
      "name": "Split in batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [700, 280],
      "parameters": {
        "batchSize": 25,
        "options": {}
      }
    },
    {
      "id": "http_scoring",
      "name": "Score each batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 280],
      "parameters": {
        "method": "POST",
        "url": "={{$env.SCORING_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"records\": $input.all().map(item => item.json)}",
        "options": {
          "timeout": 120000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "next_batch",
      "name": "Next batch",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1170, 420],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch pending silver requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch pending silver requests": {
      "main": [
        [
          {
            "node": "Split in batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in batches": {
      "main": [
        [
          {
            "node": "Score each batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Next batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score each batch": {
      "main": [
        [
          {
            "node": "Split in batches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  }
}
