workflows/n8n/Ingesta-Solicitudes.json
{
  "name": "Ingesta-Solicitudes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-400, 200],
      "id": "a1b2c3d4-0000-0000-0000-000000000001",
      "name": "Schedule Trigger (09:00)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BACKEND_INGEST_URL.replace('/ingest', '') + '/api/ingest-from-sheets' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-KEY", "value": "={{ $env.WEBHOOK_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-200, 200],
      "id": "b1c2d3e4-0000-0000-0000-000000000002",
      "name": "Ingest from Sheets"
    },
    {
      "parameters": {
        "content": "## Ingesta multi-tenant\nLee Sheets de todos los open mics,\ningesta filas nuevas en bronze y\nlanza bronze→silver.",
        "height": 128,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 360],
      "id": "c1d2e3f4-0000-0000-0000-000000000003",
      "name": "Sticky Note Ingesta"
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/comicos' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "genero", "value": "eq.unknown" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}" },
            { "name": "Accept-Profile", "value": "silver" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [0, 200],
      "id": "525e2430-0a79-4057-b2f1-f1520308643d",
      "name": "Get Unknown Gender Comics",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "915bdf0c-c93b-4814-aac1-f78e78535a21", "name": "id",       "value": "={{ $json.id }}",        "type": "string" },
            { "id": "5d49ce6d-7fb8-4da5-b99e-9fa034da3bd3", "name": "nombre",   "value": "={{ $json.nombre }}",    "type": "string" },
            { "id": "94364346-8c5f-4316-94a5-5885aa9a7e3d", "name": "instagram", "value": "={{ $json.instagram }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 200],
      "id": "f02b33c4-a255-4289-bb5f-e69ea33f7e38",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [400, 200],
      "id": "b6803a15-1919-42fc-a5ae-8b3f5421b530",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Eres un clasificador de género masivo. Recibirás una lista de comediantes.\n\nTu tarea: Clasifica el género de cada uno basándote en su nombre e instagram.\nReglas: Responde ÚNICAMENTE con un array de objetos JSON con este formato: [{\"id\": \"...\", \"genero\": \"m|f|nb|unknown\"}].\n\nLista de entrada:{{ JSON.stringify($json.data) }}\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [600, 200],
      "id": "3ec0a759-ba9b-4302-a556-883493362d61",
      "name": "Basic LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [600, 360],
      "id": "6a0a97ab-bcef-4af5-a745-e079c1b59f7d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ImSu7hn5P6MJj2QI",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $json.text || $json.output || $json.message.content;\nconst cleanText = rawText.replace(/```json|```/g, \"\").trim();\nconst listaComicos = JSON.parse(cleanText);\nreturn listaComicos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 200],
      "id": "4f6a8309-dd6b-4d98-9a59-77c41d1b9d43",
      "name": "Parse Gender Response"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/comicos' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",         "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization",  "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}" },
            { "name": "Content-Profile","value": "silver" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "genero", "value": "={{ $json.genero }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1000, 200],
      "id": "d2bf1fd7-b7b6-408a-8bf9-47e8e590ef0d",
      "name": "Update Gender"
    },
    {
      "parameters": {
        "content": "## Clasificador de género\nBatch global: todos los cómicos\nsin género se clasifican con Gemini\nantes de que corra el scoring.",
        "height": 128,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [600, 380],
      "id": "79114959-e1e5-483b-8651-11601eacc17a",
      "name": "Sticky Note Género"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (09:00)": {
      "main": [[{ "node": "Ingest from Sheets", "type": "main", "index": 0 }]]
    },
    "Ingest from Sheets": {
      "main": [[{ "node": "Get Unknown Gender Comics", "type": "main", "index": 0 }]]
    },
    "Get Unknown Gender Comics": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Aggregate", "type": "main", "index": 0 }]]
    },
    "Aggregate": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Basic LLM Chain": {
      "main": [[{ "node": "Parse Gender Response", "type": "main", "index": 0 }]]
    },
    "Parse Gender Response": {
      "main": [[{ "node": "Update Gender", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b4af4796-65d1-4c34-8f06-dd14a16b1ae3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a875fbb3d2fbb10ab816e54655a603076a1de35a069a813489d324e1ea27d6a"
  },
  "id": "CJEAB9QOc0DIpApL",
  "tags": []
}
