workflows/n8n/Scoring & Draft.json
{
  "name": "Scoring & Draft",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "ef754ef2-b14d-4f0b-8e38-da7023a3e342",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/telegram_users?select=telegram_user_id,host_id' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",         "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization",  "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}" },
            { "name": "Accept-Profile", "value": "silver" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "id": "bb000001-0000-0000-0000-000000000001",
      "name": "HTTP (get users)"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 0],
      "id": "bb000001-0000-0000-0000-000000000002",
      "name": "Split In Batches"
    },
    {
      "parameters": {
        "url": "={{ $env.RECOVA_BACKEND_URL }}/mcp/open-mics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "host_id", "value": "={{ $json.host_id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-KEY", "value": "={{ $env.WEBHOOK_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "id": "bb000001-0000-0000-0000-000000000003",
      "name": "HTTP (get open_mics)"
    },
    {
      "parameters": {
        "jsCode": "// Expande un host en N items (uno por open_mic)\nconst user = $('Split In Batches').item.json;\nconst openMics = $input.item.json.open_mics || [];\n\nif (openMics.length === 0) return [];\n\nreturn openMics.map(om => ({\n  json: {\n    telegram_user_id: user.telegram_user_id,\n    host_id: user.host_id,\n    open_mic_id: om.id,\n    open_mic_nombre: om.nombre,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "bb000001-0000-0000-0000-000000000004",
      "name": "Code (flatten)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RECOVA_BACKEND_URL }}/api/lineup/prepare-validation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-KEY",     "value": "={{ $env.WEBHOOK_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "host_id",     "value": "={{ $json.host_id }}" },
            { "name": "open_mic_id", "value": "={{ $json.open_mic_id }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "id": "bb000001-0000-0000-0000-000000000005",
      "name": "HTTP (prepare-validation)"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.validate_url }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, 0],
      "id": "bb000001-0000-0000-0000-000000000006",
      "name": "IF (tiene link?)"
    },
    {
      "parameters": {
        "jsCode": "// Formatea el mensaje de Telegram con lineup + link\nconst prep = $input.item.json;\nconst lineup = prep.lineup || [];\n\nconst lineupText = lineup.map((c, i) => {\n  const ig = c.instagram ? ` (@${c.instagram})` : '';\n  return `${i + 1}. ${c.nombre}${ig}`;\n}).join('\\n');\n\nlet fechaDisplay = prep.fecha_evento || '';\ntry {\n  fechaDisplay = new Date(prep.fecha_evento + 'T12:00:00').toLocaleDateString('es-ES', {\n    weekday: 'long', day: 'numeric', month: 'long'\n  });\n} catch(e) {}\n\nconst nombreShow = $('Code (flatten)').item.json.open_mic_nombre || 'tu show';\n\nreturn [{\n  json: {\n    telegram_user_id: $('Code (flatten)').item.json.telegram_user_id,\n    message_text: `Lineup para ${nombreShow} (${fechaDisplay}):\\n\\n${lineupText}\\n\\nValida aqui antes de que empiece el show:\\n${prep.validate_url}`,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -120],
      "id": "bb000001-0000-0000-0000-000000000007",
      "name": "Code (formato mensaje)"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1760, -120],
      "id": "bb000001-0000-0000-0000-000000000008",
      "name": "Telegram (enviar)",
      "credentials": {
        "telegramApi": {
          "id": "6Ab7xKZYHk0wK6KP",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "HTTP (get users)", "type": "main", "index": 0 }]]
    },
    "HTTP (get users)": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Split In Batches": {
      "main": [[{ "node": "HTTP (get open_mics)", "type": "main", "index": 0 }]]
    },
    "HTTP (get open_mics)": {
      "main": [[{ "node": "Code (flatten)", "type": "main", "index": 0 }]]
    },
    "Code (flatten)": {
      "main": [[{ "node": "HTTP (prepare-validation)", "type": "main", "index": 0 }]]
    },
    "HTTP (prepare-validation)": {
      "main": [[{ "node": "IF (tiene link?)", "type": "main", "index": 0 }]]
    },
    "IF (tiene link?)": {
      "main": [
        [{ "node": "Code (formato mensaje)", "type": "main", "index": 0 }],
        []
      ]
    },
    "Code (formato mensaje)": {
      "main": [[{ "node": "Telegram (enviar)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fafe12bf-6486-4aa1-827e-9665b67d25aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a875fbb3d2fbb10ab816e54655a603076a1de35a069a813489d324e1ea27d6a"
  },
  "id": "DbGmkvy9A8IIvZhK",
  "tags": []
}
