workflows/n8n/This.Scoring & Draft 2.json
{
  "name": "This.Scoring & Draft 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "830ee7d7-3c27-44fc-a6bf-5c72cc78b87a",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        0
      ],
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/telegram_users?select=telegram_user_id,host_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            },
            {
              "name": "Accept-Profile",
              "value": "silver"
            }
          ]
        },
        "options": {}
      },
      "id": "98720f11-56a9-45de-96d4-6514b64c9aa0",
      "name": "HTTP (get users)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        96
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d5b10216-9873-4bd4-9b4d-0bf60fcea6f7",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        128,
        48
      ],
      "name": "Split In Batches"
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/mcp/open-mics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "host_id",
              "value": "={{ $json.host_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.WEBHOOK_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97649000-ac86-45a3-8ce9-70ab9c31fc62",
      "name": "HTTP (get open_mics)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Expande un host en N items (uno por open_mic)\nconst user = $('Split In Batches').item.json;\nconst openMics = $input.item.json.open_mics || [];\n\nif (openMics.length === 0) return [];\n\nreturn openMics.map(om => ({\n  json: {\n    telegram_user_id: user.telegram_user_id,\n    host_id: user.host_id,\n    open_mic_id: om.id,\n    open_mic_nombre: om.nombre,\n  }\n}));"
      },
      "id": "deaf36dd-c0a5-4faa-bf94-cd04f3dd1a2c",
      "name": "Code (flatten)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/lineup/prepare-validation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.WEBHOOK_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "host_id",
              "value": "={{ $json.host_id }}"
            },
            {
              "name": "open_mic_id",
              "value": "={{ $json.open_mic_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "378ee8ad-5d2a-401c-a392-c9e352c56ba6",
      "name": "HTTP (prepare-validation)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.validate_url }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "57951fc7-5ee4-46ba-bd57-3f1a19047ba7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        784,
        -112
      ],
      "name": "IF (tiene link?)"
    },
    {
      "parameters": {
        "jsCode": "// Formatea el mensaje de Telegram con lineup + link\nconst prep = $input.item.json;\nconst lineup = prep.lineup || [];\n\nconst lineupText = lineup.map((c, i) => {\n  const ig = c.instagram ? ` (@${c.instagram})` : '';\n  return `${i + 1}. ${c.nombre}${ig}`;\n}).join('\\n');\n\nlet fechaDisplay = prep.fecha_evento || '';\ntry {\n  fechaDisplay = new Date(prep.fecha_evento + 'T12:00:00').toLocaleDateString('es-ES', {\n    weekday: 'long', day: 'numeric', month: 'long'\n  });\n} catch(e) {}\n\nconst nombreShow = $('Code (flatten)').item.json.open_mic_nombre || 'tu show';\n\nreturn [{\n  json: {\n    telegram_user_id: $('Code (flatten)').item.json.telegram_user_id,\n    message_text: `Lineup para ${nombreShow} (${fechaDisplay}):\\n\\n${lineupText}\\n\\nValida aqui antes de que empiece el show:\\n${prep.validate_url}`,\n  }\n}];"
      },
      "id": "f1a46483-51fa-49a3-b883-682a70ea9ce2",
      "name": "Code (formato mensaje)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -208
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {}
      },
      "id": "0aeb9faa-43ff-4eb1-a18d-742802e8f773",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1120,
        -208
      ],
      "name": "Telegram (enviar)",
      "webhookId": "91eb4d31-f059-4e05-8ee4-bd1d2c404b6d",
      "credentials": {
        "telegramApi": {
          "id": "6Ab7xKZYHk0wK6KP",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP (get users)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP (get users)": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP (get open_mics)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP (get open_mics)": {
      "main": [
        [
          {
            "node": "Code (flatten)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (flatten)": {
      "main": [
        [
          {
            "node": "HTTP (prepare-validation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP (prepare-validation)": {
      "main": [
        [
          {
            "node": "IF (tiene link?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (tiene link?)": {
      "main": [
        [
          {
            "node": "Code (formato mensaje)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (formato mensaje)": {
      "main": [
        [
          {
            "node": "Telegram (enviar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1e3ee461-c2b7-42bb-bd23-240dde63143f",
  "meta": {
    "instanceId": "0a875fbb3d2fbb10ab816e54655a603076a1de35a069a813489d324e1ea27d6a"
  },
  "id": "itonRJTzLepmQBtC",
  "tags": []
}